In [250]:
#Packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [251]:
#Importing Raw Data
bakers = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/bakers.csv")
challenges = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/challenges.csv")

## Bakers DataFrame

1. series, technical_highest, and technical_lowest needs to bea  category
2. baker can be removed, we can use baker_full to get first and last name
3. star_baker, series_runner_up, first_date_us, last_date_us are null category, we can remove it. 
4. removing technical_median from the dataset. I can't determine how it is calculated. 
5. removing baker and baker_full. Going to keep baker_first and baker_last
6. reorganize the dataframe to bring the baker's first and last name to the left
7. Setting NAs to 10th. Only 1 example of an NA for technical_highest and lowest
8. 26% of first_date_appeared and last_date_appeared are missing. These categories aren't important so I will remove

In [252]:
bakers.info()
bakers.describe()
bakers.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    int64
 1   baker                      120 non-null    object
 2   star_baker                 120 non-null    int64
 3   technical_winner           120 non-null    int64
 4   technical_top3             120 non-null    int64
 5   technical_bottom           120 non-null    int64
 6   technical_highest          119 non-null    float64
 7   technical_lowest           119 non-null    float64
 8   technical_median           119 non-null    float64
 9   series_winner              120 non-null    int64
 10  series_runner_up           120 non-null    int64
 11  total_episodes_appeared    120 non-null    int64
 12  first_date_appeared        95 non-null     object
 13  last_date_appeared         95 non-null     object
 14  first_date_us              0 non-null      float64
 15  last_date_us               0 non-null      float64
 16  percent_episodes_appeared  120 non-null    float64
 17  percent_technical_top3     120 non-null    float64
 18  baker_full                 120 non-null    object
 19  age                        120 non-null    int64
 20  occupation                 120 non-null    object
 21  hometown                   120 non-null    object
 22  baker_last                 120 non-null    object
 23  baker_first                120 non-null    object
dtypes: float64(7), int64(9), object(8)
memory usage: 22.6+ KB

(120, 24)

Set 'series', 'technical_highest','technical_lowest' to Category

In [253]:
bakers['series'] = bakers['series'].astype('category')
bakers['technical_highest'] = bakers['technical_highest'].astype('category')
bakers['technical_lowest'] = bakers['technical_lowest'].astype('category')

In [254]:
assert bakers['series'].dtype =='category'
assert bakers['technical_highest'].dtype =='category'
assert bakers['technical_lowest'].dtype =='category'

In [255]:
bakers.describe()

,star_baker,technical_winner,technical_top3,technical_bottom,technical_median,series_winner,series_runner_up,total_episodes_appeared,first_date_us,last_date_us,percent_episodes_appeared,percent_technical_top3,age
count,120.0,120.000000,120.000000,120.000000,119.000000,120.000000,120.0,120.000000,0.0,0.0,120.000000,120.000000,120.000000
mean,0.0,0.775000,2.325000,3.475000,5.638655,0.083333,0.0,5.916667,NaN,NaN,62.416667,30.464947,37.391667
std,0.0,0.991243,2.312416,1.680149,2.716806,0.277544,0.0,3.085840,NaN,NaN,31.269140,25.373092,12.896026
min,0.0,0.000000,0.000000,0.000000,1.500000,0.000000,0.0,1.000000,NaN,NaN,10.000000,0.000000,17.000000
25%,0.0,0.000000,0.000000,2.000000,3.500000,0.000000,0.0,3.000000,NaN,NaN,33.333333,0.000000,28.750000
50%,0.0,0.000000,2.000000,3.000000,5.000000,0.000000,0.0,6.000000,NaN,NaN,64.583333,33.333333,34.000000
75%,0.0,1.000000,4.000000,5.000000,7.000000,0.000000,0.0,9.000000,NaN,NaN,100.000000,50.000000,45.000000
max,0.0,5.000000,8.000000,7.000000,13.000000,1.000000,0.0,10.000000,NaN,NaN,100.000000,80.000000,71.000000

'star_baker','series_runner_up','first_date_us', 'last_date_us' have no data, remove them from the df

In [256]:
bakers_df = bakers.drop(columns =['star_baker','series_runner_up','first_date_us', 'last_date_us','technical_median','baker_full','baker'])

In [257]:
bakers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    category
 1   technical_winner           120 non-null    int64
 2   technical_top3             120 non-null    int64
 3   technical_bottom           120 non-null    int64
 4   technical_highest          119 non-null    category
 5   technical_lowest           119 non-null    category
 6   series_winner              120 non-null    int64
 7   total_episodes_appeared    120 non-null    int64
 8   first_date_appeared        95 non-null     object
 9   last_date_appeared         95 non-null     object
 10  percent_episodes_appeared  120 non-null    float64
 11  percent_technical_top3     120 non-null    float64
 12  age                        120 non-null    int64
 13  occupation                 120 non-null    object
 14  hometown                   120 non-null    object
 15  baker_last                 120 non-null    object
 16  baker_first                120 non-null    object
dtypes: category(3), float64(2), int64(6), object(6)
memory usage: 15.0+ KB

reorder the dataframe to bring the baker's name left

In [258]:
bakers_df = bakers_df.iloc[:,np.r_[0,16,15,1:14]]

check for the NAs listed in technical_highest and lowestest

In [259]:
bakers_df.technical_lowest.isna().sum()
#1
bakers_df.technical_highest.isna().sum()
#1

1

Mark Whithers, from series 1, should have record a 10th place finish for technical highest and lowest. The NAs will be changed accordingly

In [260]:
bakers_df.technical_highest.fillna(10.0,inplace = True)
bakers_df.technical_lowest.fillna(10.0,inplace = True)

Determined the % of missing values for first_date_appeared / last_date_appeared. Due to the high percentage (26%) these columns will me removed from the dataset

In [261]:
bakers_df.first_date_appeared.isna().sum()/ bakers_df.first_date_appeared.count()

0.2631578947368421

In [262]:
bakers_df_final = bakers_df.drop(columns =['first_date_appeared','last_date_appeared'])

In [263]:
bakers_df_final

,series,baker_first,baker_last,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation
0,1,Annetha,Mills,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife
1,1,David,Chambers,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur
2,1,Edward,Kimber,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank
3,1,Jasminder,Randhawa,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager
4,1,Jonathan,Shepherd,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,10,Michelle,Evans-Fecci,0,0,5,5.0,8.0,0,5,50.000000,0.000000,35,Print shop administrator
116,10,Phil,Thorne,0,1,3,3.0,10.0,0,4,40.000000,25.000000,56,HGV driver
117,10,Priya,O'Shea,0,1,5,2.0,10.0,0,6,60.000000,16.666667,34,Marketing consultant
118,10,Rosie,Brandreth-Poynter,2,4,5,1.0,9.0,0,9,90.000000,44.444444,28,Veterinary surgeon
119,10,Steph,Blackwell,1,6,4,1.0,10.0,0,10,100.000000,60.000000,28,Shop assistant

# Challenges Dataframe

1. Data exists for contestants that are no longer present. Can be viewed by the NAs in the result category. 
2. 8 instances exist for technicals with rankings of 0 yet are still in on the show. 6 of these have no info for "showstopper" or "Signiture". These 8 will be removed.
3. series 9, episode 4, Terry was sick. I'll remove this data point from the set
4. a few more NAs to deal with later
5. Group by series and baker and create lists of signatures, technicals and showstoppers. Append to the bakers list on series and baker

8 instances exist for technicals with rankings of 0 yet are still in on the show. 6 of these have no info for "showstopper" or "Signiture". These 8 will be removed.

In [282]:
challenges = challenges.replace({'CupcakesAfter': 'Cupcakes After'}, regex=True)
# challenges = challenges.replace('Tropical Trifle*',
#                                 value='Tropical Trifle')

In [265]:
challenges[challenges.signature.isna()]

      series  episode     baker result signature  technical showstopper
18         1        2       Lea    NaN       NaN        NaN         NaN
19         1        2      Mark    NaN       NaN        NaN         NaN
26         1        3   Annetha    NaN       NaN        NaN         NaN
27         1        3       Lea    NaN       NaN        NaN         NaN
28         1        3    Louise    NaN       NaN        NaN         NaN
...      ...      ...       ...    ...       ...        ...         ...
1131      10       10   Michael    NaN       NaN        NaN         NaN
1132      10       10  Michelle    NaN       NaN        NaN         NaN
1133      10       10      Phil    NaN       NaN        NaN         NaN
1134      10       10     Priya    NaN       NaN        NaN         NaN
1135      10       10     Rosie    NaN       NaN        NaN         NaN

[433 rows x 7 columns]

In [283]:
challenges_set = set(challenges.signature)
challenges_set

{'"A Biscuit for the Broads"',
 '"Wheelie Hot Iced Biscuits"',
 "'Chelsea Flour Show' Bun Bouquet",
 "'Choux-nicorn and Choux-moji' Choux Buns",
 "'Classics with a Twist' Cannoli",
 "'Fleetwood Mac' Decorative Pies",
 "'Good Morning America' Swirls and Peanut Butter and Banana Pinwheels",
 "'Happy Hour' Cocktail Cannoli",
 "'Just Doing Me' Cannoli",
 "'Lil' Red's Ginger and Nuts' Millionaire Shortbreads",
 "'Love Theme' Decorative Pies",
 "'Mediterranean Medley' Bedfordshire Clangers",
 "'Mr Darcy's Steamy Lake Scene' Steamed School Pudding",
 "'Mrs P's' Masala Chai Spiced Teacakes",
 "'Mrs. Marian's PB 'n' B' Biscuits",
 "'Pies from the Tree' Decorative Pies",
 "'Standard FC' Decorative Pies",
 "'Sweet Dreams' Roulade",
 "'Take Out' Bedfordshire Clangers",
 "'The Four Seasons' Decorative Pies",
 "'Torte Noir' Black Forest Torte with Boozy Cream",
 "'Vegetarian Pie Faces' Decorative Pies",
 "'Windy City' Millionaire Shortbreads",
 "'πr2' Decorative Pies",
 '1920s Pies',
 'A Good Dose of Limoncello Cake',
 'A Kick of Limoncello Cake',
 'A Romantic Dinner For Two, Samosa Style',
 "Aberffraw 'Creams'",
 'Almond Crème Brûlées',
 'Almond and Apricot Biscotti with Amber Sugar Crystals',
 'Almond and Marzipan Traybake with Rhubarb Jam',
 'Almond, Chocolate and Cherry Torte',
 'Amarene and Kirsch Cherry Roulade',
 'Amaretto Diplomat Filled Doughnuts & Lemon Ring Doughnuts',
 'Amarpressi Biscuits',
 'Anchovy, Sweet Paprika and Oregano Bread',
 'Answer to Everything Cake',
 'Aperitif Domed Tarts',
 'Apple & Maple Syrup Pie',
 'Apple Cider Empire Biscuits',
 'Apple Pie with Sage Pastry',
 'Apple and Almond Crumble Maple Loaf',
 'Apple and Blackberry Crumble Trifle',
 'Apple and Cinnamon Cupcakes',
 'Apple and Cinnamon Kugelhopf with Honeyed Apples',
 'Apple and Ginger Pie with a Pecan and Walnut Shortcrust Pastry',
 'Apple and Ginger Tarte Tatin',
 'Apple and Lavender Tarte Tatin',
 'Apple and Lemon KitesRaspberry and Almond Croissants',
 'Apple and Marzipan Pie',
 'Apple and Pear Pie with Thyme',
 'Apple and Plum Pudding',
 'Apple and Vanilla Tarte Tatin with Walnut Praline',
 'Apple, Hazelnut and Calvados Upside Down Cake',
 'Apple, Walnut, Raisin and Cheshire Cheese ChaussonsPain au Chocolat Blanc with Raspberries and Cream Cheese',
 'Apricot and Basil Swiss Roll with Mascarpone and White Chocolate Cream',
 'Apricot and Pistachio Tiffin',
 'Apricot and Rosemary Frangipane Tart',
 'Apricot, Cranberry and Marzipan Chai Chelsea Buns',
 'Aromatic Raised Game Pie',
 'Asian Spice Crackers',
 'Baa Bara Brith Biscuits',
 'Baked Amaretto Cheesecake',
 'Bakewell Bars',
 'Bakewell Chelsea Buns',
 'Bakewell Tart Steamed School Pudding',
 'Baklava Tear & Share',
 'Balsamic Strawberry Chelsea Buns',
 'Banana and Clove PuddingsClootie Dumplings',
 'Banoffee Cupcakes',
 'Banoffee Inspired Mille Feuille',
 'Banoffee Puddings with Walnut Butterscotch SauceJubilee Chocolate Fondants',
 'Bara Brith',
 "Bara Brith Teulu Ni (Our Family's Bara Brith)",
 'Barberry and Apple Spotted Dickwith Maple Syrup and White Chocolate Custard',
 'Bay Leaf, Rong Tea and Pear Tart',
 'Beef Wellington with Parma Ham and Gorgonzola Cheese',
 'Beehive Biscuits',
 "Beetroot Jelly on Poppy Seed BiscuitsSpinach, Parmesan and Egg TartletsChoux Buns with Goat's Cheese and Caramelised Onions",
 'Bellini and Valencian Orange Choux Buns',
 'Berry Best Apple and Bramble Drizzle Cake',
 'Biscotti Italiano',
 'Black Forest Cherry Tree',
 'Black Forest Chocolate Cake',
 'Black Forest Chocolate Fondants',
 'Black Forest Meringue',
 'Black Forest Slice',
 'Black Forest Swiss Roll',
 'Black Forest Torte',
 'Black Olive and Rosemary Biscuits with Caramelised Onion Glaze',
 'Blackberry Crème Brûlées',
 'Blackberry and Lemon Bakewell Slice',
 'Blackberry and Peppermint MacaronsMiniature Raspberry and Basil FinanciersOrange and White Chocolate Langues de Chat',
 'Blackberry and Vanilla Cupcakeswith Liquorice Frosting',
 'Blackberry, White Chocolate, Lemon and Elderflower Torte',
 'Blood Orange Cake',
 'Blood Orange Halloween Pumpkin Pie',
 'Blood Orange Madeira Cake',
 'Blueberry & Orange Traybake',
 'Blueberry & White Chocolate Crème Brûlée Pies',
 'Blueberry Buns',
 'Bombay BreadChorizo and Spring Onion Naan',
 'Bonfire Night Cake',
 'Bonfire Night Caramel Ginger Cake',
 'Bonfire Night Ginger Cake',
 'Boozy Black Forest Traybake',
 'Bouquet Biscuits',
 'Bouquet of Flowers',
 'Breakfast Traybake',
 'Broccoli & Tomato Quiches and Mascarpone Squirrel Tartlets',
 'Brown Down Chicken Pie',
 'Bumblebee Eggs & Fish Smørrebrød',
 'Burrito Bedfordshire Clangers',
 'Café Tipple & Banana Crunch-away Horns',
 'Camembert & Onion and Apple & Blueberry Bedfordshire Clangers',
 'Cannoli Cocktails',
 'Caramel Cinnamon and Banana Cake',
 'Caramel and Apple Trifle*',
 'Caramelised Banana Tarte Tatin',
 "Caramelised Onion & Goat's Cheese Tarte Tatin",
 "Caramelised Onion and Goat's Cheese Sandwich Biscuits",
 'Caramelised Onion, Gruyere and Thyme Quiche',
 'Caramelised Pear and Stem Ginger Cake',
 'Caramelly Carroty Tarte Tatin',
 'Cardamom and Almond Buns & Nutmeg and Sour Cherry Fingers',
 'Cardamom and Coconut Burfi Traybake',
 'Cardamom and Pomegranate Cupcakes',
 'Cardamom, Pistachio and Coffee Swiss Roll',
 'Cardiff City vs Chelsea Buns',
 'Caribbean Pina Colada Trifle',
 'Carrot & Pecan Cake',
 'Carrot Cake with Lime and Cream Cheese Icing',
 'Carrot and Orange Cake',
 'Chai Frappelatteccino Biscuits',
 'Chai Spiced Ginger and Date Tea Loaf',
 'Chai Tea Loaf',
 'Char Siu & Banana Praline Bedfordshire Clangers',
 'Cheddar Cheese and Fresh Rosemary Biscuits',
 'Cheese and Fruit Smørrebrød',
 'Cheese and Onion Tear and Share Loaf',
 'Cheese and Pickle Crackers',
 'Cheesecake Surprise',
 'Cheesy Cheeky Fish Pies',
 'Cheesy Elephant Ears and Herby Treble Clefs',
 'Chelsea Bunskis',
 "Cherries & Lemons that are 'Baked Well'",
 'Cherry Bakewell Inspired CupcakesGinger Cupcakes with Fig Truffle',
 'Cherry Blossom CupcakesJapanese Lime Cupcakes',
 'Cherry Caramel Shortbread Biscuit Bars',
 'Cherry and Almond Bakewell Florentine Slice',
 'Cherry and Almond Saffron Buns',
 'Cherry and White Chocolate Oatmeal Biscuits',
 'Chicken and Bacon Pie',
 'Chicken and Chestnut Pie',
 'Chicken and Mushroom Pie',
 'Chicken and Pesto Tear & Share',
 'Chicken and Pig Pie',
 'Chicken, Ham, Leek and Tarragon Pie',
 'Chickpea, Spinach & Mushroom Wellington',
 'Childhood Empanadas',
 'Chilli Bread',
 'Chilli and Manchego Tear & Share',
 'Choc-chip Banana Cake',
 'Chocolate & Orange Custard Pies',
 'Chocolate Amaretto Mousse Cake',
 'Chocolate Barmbrack Bread',
 'Chocolate Chia Seed Biscuits with Whisky Caramel Filling',
 'Chocolate Chip and Pistachio Biscotti',
 'Chocolate Chunk and Hazelnut Biscotti',
 'Chocolate Crusted Passion Fruit Tart',
 'Chocolate FondantsSticky Ginger and Date Puddings',
 'Chocolate Kardemummabullar',
 'Chocolate New York Pie',
 'Chocolate Orange Baklava Masala Chai Baklava',
 'Chocolate Orange Cake',
 'Chocolate Orange CupcakesOrange and Cardamom Cupcakes',
 'Chocolate Orange and Chilli Swirl Bread',
 'Chocolate Quick Breads with Salted Caramel Sauce',
 'Chocolate Walnut Whip PuddingsElderflower Sponges',
 'Chocolate and Almond Truffle Torte',
 'Chocolate and Bay Tart',
 'Chocolate and Chilli Swirl Plait',
 'Chocolate and Cranberry Couronne',
 'Chocolate and Ginger Oat Biscuits',
 'Chocolate and Hazelnut Roulade',
 'Chocolate and Hazelnut Sugar-Free Cake',
 'Chocolate and Orange Mousse Cake',
 'Chocolate and Salted Caramel Molten Puddings',
 'Chocolate, Armagnac and Prune Cake',
 'Chocolate, Caramel Macchiato Biscuit Bars',
 'Chocolate, Cardamom and Hazelnut Loaf',
 'Chocolate, Cherry and Hazelnut Brownies',
 'Chocolate, Hazelnut and Fig Biscotti',
 'Chocolate, Lime and Raspberry Fondants',
 'Chocolate, Orange and Cinnamon Bread',
 'Chocolate, Pear, Ginger and Maple Cake',
 'Chocolate, Salted Caramel & Pecan Brittle Brioche Loaf',
 'Chocolate, Tahini and Almond Babka',
 'Chocolatey Orangey Swirly Roll',
 'Chorizo Brunch Tear & Share',
 'Chorizo, Pepper and Gruyere Quiche',
 'Christmas Cake',
 'Christmas Dinner Compromise',
 'Christmas Frangipane Tart',
 'Christmas Marzipan Biscuits',
 'Cider and Walnut Crusty Rolls',
 'Cinnamon Swirl Tear & Share',
 'Cinnamon Swirls and Pecan, Walnut and Maple Plaits',
 'Cinnamon Tea Crème Brûlées',
 'Cinnamon and Apple & Toffee and Marmalade Iced Buns',
 'Cinnamon and Banana Cake',
 'Cinnamon and Orange Teacakes',
 'Cinnamon, Apple and Pear Tarte Tatin',
 'Cinnamon, Maple and Cranberry Biscotti',
 'Citrus Layer Cake',
 'Citrus Tea Loaf',
 'Citrus and Spice Drizzle Cake',
 'Clementine and Chestnut Torte',
 'Cobbled Loaf',
 'Coco-nutty Chocolate Bars',
 'Coconut Cake',
 'Coconut Crème Brûlées',
 'Coconut RotiOatcakes',
 'Coconut Seashells for a Titanic Afternoon Tea',
 'Coconut, Fennel and Pistachio Biscotti',
 'Coconut, Raspberry and Lemon Meringue Trifle',
 'Coffee Cream and Praline Roulade',
 'Coffee Malted Pecan Shorties',
 'Coffee Meringue and Hazelnut CreamsApricot and Pistachio FriandsLime Curd Choux Pastry Cygnets',
 'Coffee and Amaretto Kisses',
 'Coffee and Chocolate BaklavaBreakfast Baklava',
 'Coffee and Hazelnut Swiss Roll',
 'Coffee, Cardamom & Hazelnut Bars',
 'Coriander Posto & Veg Tartlets and Ghugni Chaat Tartlets',
 'Coriander and Chilli RotisGarlic, Pomegranate and Potato Pitas',
 'Coriander and Lemon NaanGarlic and Parsnip Chapatis',
 'Courgette and Lemon Cake',
 'Courgette, Caerphilly Cheese and Thyme Loaf',
 'Crab, Coriander and Coconut Quiche',
 'Crab, Tomato & New Potato Tarte Tatin',
 'Cranberry and Cinnamon Teacakes',
 'Cranberry and Orange Sweet Soda Breads',
 'Cranberry and Pistachio Cakewith Orange Flower Water Icing',
 'Cranberry and Walnut Rye Bread Rolls',
 'Crispy Lentil Kachori',
 'Crowd Pleaser Roulade',
 'Crunchy Caramel Cassis Crown',
 'Cup of Chai Cake',
 'Curry Spiced Seabass Wellington',
 'Da Vinci Inspired Geared Pies',
 'Danish Pastry Croque Monsieur Kites and Cinnamon Apple, Vanilla Crème Rose Danish',
 'Dark Chocolate Meringue Cake',
 'Dark Chocolate and Almond Liqueur Savarin',
 'Date & Hemp Yorkshire Loaf',
 'Date and Walnut Rye Rolls',
 'Date and Walnut Swirl Bread',
 'Decadent Breakfast Chelsea Buns',
 'Desert Island Trifle',
 'Devonshire Panettone',
 'Double Chocolate Cinnamon Twist Loaf',
 'Dulce De Leche Filled Doughnuts & Raspberry and Cardamom Ring Doughnuts',
 'Earl Grey Cupcakes',
 'Earl Grey Dried Fruit Teacakes',
 'Easter Chelsea Buns',
 'Easter Simnel Cake',
 'Egyptian Dukkah Loaf with Mixed Spices',
 'Elderflower and Lemon & Spiced Buns',
 'Eton Mess',
 'Family Christmas Ginger Cake',
 'Family Favourite',
 'Family Fish Pie',
 'Fancy Custards',
 'Farthing Biscuits',
 "Father Christmas' Baked Cheesecake",
 'Fennel & Chilli Breadsticks',
 'Fennel and Chilli Breadsticks',
 'Fennel and Coconut Pitcaithly Bannock',
 'Fennel and Nigella Seed NaanBannock Bread',
 'Fennel and Rye Thins',
 'Fenugreek and Carom Crackers',
 'Festive Samosas',
 'Fig and Hazelnut Rye Breads',
 'Fig and Orange Tart',
 'Fig, Cheese and Walnut Breads',
 'Fig, Walnut and Pink Peppercorn Tarte Tatin',
 'Figgy Pudding Hot Cross Buns',
 'Figgy Roll-y Poly Puddingwith Caramelised Walnut and Honey Ice-Cream',
 'Flavours of India',
 'Florida Roulade',
 'Flower Pot Iced Biscuits',
 'Focaccia',
 'Four Pig Wellington',
 'French Onion Tartlets and Celeriac & Apple Tartlets',
 'Fresh Mango and Passion Fruit Hummingbird Cake',
 'Fresh Vanilla Biscuits with Royal Icing',
 'Frosted Cinnamon and Pecan Tear & Share',
 'Fruit Bat Cake',
 'Fruit Swedish Tea Ring',
 'Fruity Guglhupf with an Orange Glaze',
 'Full English Wellington',
 'G&T Drizzle Cake',
 'Game Pie with Shallot and Apple Chutney',
 'Garlic Mushroom Tartlets and Falafel & Hummus Tartlets',
 'Ghost Cake',
 'Giant Jam Sandwich',
 'Giant Matchsticks',
 'Gilded Pear and Cardamom Cake',
 'Gin Jam Butties',
 'Gin and Tonic Madeira Cake',
 'Ginger Spice Yuzu Drizzle Cake',
 'Ginger and Lemon Drip Cake',
 'Ginger and Lemon Madeleines\nOrange Bunny Madeleines',
 'Ginger, Fig and Honey Steamed School Pudding',
 'Ginger, Mango and Passion Fruit Trifle',
 'Gingerbread Fruit Cake Wreath',
 "Granny Rogers' Apple, Plum & Cinnamon Country Pie",
 'Granny Smith Apple and Walnut Cake',
 'Grapefruit Sandwich Cake',
 'Grapefruit and Ginger Meringue Pie',
 'Grapefruit, Orange and Mint Meringue Pie',
 "Great Grandma's Fruit Cake",
 'Green Tea Opera Torte',
 'Grissini with Salt',
 'Guinness and Chocolate Cupcakes',
 'Gujarela Chelsea Buns with Dates, Almonds and Raisins',
 'Hazelnut Cornish Shortbread',
 'Hazelnut, Chocolate and Passionfruit Torte',
 'Home Comforts',
 'Homely Rhubarb Cake',
 'Honey and Apricot Ginger Cake',
 'Honey and Candied Ginger Cookies',
 'Honey and Flowers Cake',
 'Honey and Grapefruit Polenta Cake',
 'Honeycomb Peanut Mallow Bars',
 'Indian FlatbreadsItalian Flatbreads',
 'Indian Rose BaklavaHalwa Baklava Rolls',
 'Italian Grissini',
 'Italian Meringue Ginger Cake',
 'Italian Sausage and Roasted Vegetable Pithivier',
 'Italian Style Cannoli',
 'Jackfruit, Pistachio and Macadamia Biscotti',
 'Jaffa Millionaire Shortbreads',
 'Jalapeño, Mexican Cheddar and Smoked Salt Soda Breads',
 'Jamaican Me Crazy Ginger Cake',
 'Jamaican Rum Cake',
 'Jamaican Spiced Teacakes',
 'Kawaii Frasier Swiss Roll',
 'Keralan Star Bread Tear & Share',
 'Key Lime Cheesecake and Bakewell Tart Choux Buns',
 'Kozunak Plaits',
 'Kumquat and Orange Polenta Upside Down Cake',
 "Lady Arundel's Manchet Buns",
 'Lake District Ginger Shortbread',
 'Lamb Wellington with Rosemary and Mint',
 'Lardy Cakes',
 'Lavender Biscuits',
 'Layers of Lime and Raspberry',
 'Leafy Yoghurt Cake',
 'Lebkuchen',
 "Leek, Apple & Goat's Cheese Tarte Tatin",
 'Lemon & Blackcurrant Drizzle Steamed School Pudding',
 'Lemon & Raspberry Ripple Pies',
 'Lemon & Rosemary Biscuit Bars',
 'Lemon Cupcake',
 'Lemon Limoncino Sandwich Biscuits',
 'Lemon MadeleinesWhite Chocolate and Raspberry TartletsDark Chocolate and Cherry Macarons',
 'Lemon Meringue CupcakesApple and Cinnamon Cupcakes',
 'Lemon Meringue Traybake',
 'Lemon and Cardamom Traybake',
 'Lemon and Ginger Mille Feuille',
 'Lemon and Lavender Pies',
 'Lemon and Poppy Seed Cake',
 'Lemon and Poppy Seed Drizzle Cake',
 'Lemon and Poppy Seed Traybake',
 'Lemon and Raspberry Madeleines\nOrange Curd Madeleines',
 'Lemon and Rhubarb TartletsChocolate Indulgence Petits FoursChilli, Lime and Raspberry Macarons',
 'Lemon and Rosemary Drizzle Cake',
 'Lemon and Strawberry Shrewsburys',
 'Lemon and Thyme Madeira Cake',
 'Lemon, Blueberry & Almond Hot Cross Buns',
 'Lemon, Ginger and Caraway Seed Madeira Cake',
 'Lemon, Raspberry & Mint Domed Tarts',
 'Light Jamaican Black Cakewith Strawberries and Cream',
 'Lime & Mascarpone and Malt Cream Horns',
 'Lime Coriander and Coconut TortillasZaatar Naan with Dukkah',
 'Lime and Coconut Meringue Pie',
 'Lime, Coconut and Lemongrass Sugar Meringue Pie',
 'Lime, Ginger and Honey Drizzle Cake',
 'Lincolnshire Plum Braid',
 'Little Blackberry Pies',
 'Légume Canapés\n(Chantenay Carrots, Choux Pastry Tomatoes, and Cauliflower Cheese Scones)',
 'Madeira Cake with Almond Liqueur and Chopped Apricots',
 'Madeira Cake with Candied Lemons',
 'Madras Cocktail Teacakes',
 'Malt, Chocolate and Orange Iced "Beer" Biscuits',
 "Mamgu's Cherry-Apple Tart",
 'Mandarin Margarita Meringue Pie',
 'Mango Créme Pâtissière Filled Doughnuts & Spiced Orange Ring Doughnuts',
 'Mango Fruit Hat Steamed School Pudding',
 'Mango and Cranberry Chelsea Buns',
 'Mango and Nigella Seed Spelt Cob',
 'Mango and Passion Fruit Roulade',
 'Mango, Lime & Ginger Pies',
 'Maple and Pecan Bread',
 'Mardi Gras Finnish Semlor Peacock Festival Buns',
 'Marley Madeira Cake',
 'Marula Fruit and Coffee Liqueur Crème Brûlées',
 'Masala Chai Devon Flats',
 'Meat and Two Veg Yorkshires',
 'Mediterranean Breadsticks with Oregano',
 'Mega Breakfast Bonanzas; Granola Spirals and Wheat Foldovers',
 'Melting Moments',
 'Mexican Adventure',
 'Mexican Bread with Warm Tomato Salsa',
 'Mexican Breadsticks',
 'Middle Eastern Delight Sandwich Biscuits',
 'Middle Eastern Game Pie',
 'Middle Eastern Taboon BreadIndian Roti',
 'Millionaire Banoffee Bonus',
 "Millionaire's Roulade",
 "Millionaires' Shortbread",
 'Minced Beef Pie',
 'Mini Beef Wellingtons',
 'Mini Sticky Toffee Puddings',
 'Mint, Ginger and Blackberry Cake',
 'Minted Lamb Pasties',
 'Mixed Berry and Almond Crumble Traybake',
 'Mocha, Hazelnut & Orange Domed Tarts',
 'Mojito Madeleines\nEspresso Martini Madeleines',
 'Mont Blanc & Black Forest Gâteau Horns',
 'Moroccan Breadsticks',
 'Moroccan Strawberry and Rose Cake',
 'Multi-Seed Savoury Crackers',
 'Multi-Seeded Loaf with Pumpkin, Sesame and Sunflower Seeds',
 "Mum and Dad's Breakfast Pastries",
 "Mum's Chilli Yorkshire Puddings",
 "Mum's Orange and Lemon Drizzle",
 "Mum's Sunday Tea Lemon Curd Swiss Roll",
 'My All Time Favourite Desserts',
 'Naked Blueberry and Caraway Crunch Cake',
 'Nigella Seed and Parmesan Breadsticks',
 'Nordic Teacakes',
 'Noson Gaws (Cheese Night) Tear & Share',
 'Not a Boaring Pie',
 'Oatmeal Raisin Cookie',
 'Ode to a German Breakfast Cake',
 'Olive Bread',
 'Onion and Pine Nut Rolls',
 'Opposites Attract Rolls',
 'Orange & Treacle Steamed School Pudding',
 'Orange Blossom York Biscuits',
 'Orange Liqueur and Lemonade Drizzle Cake',
 'Orange Macadamia Nut Millionaire Shortbreads',
 'Orange Pain au Raisins, Raspberry, Chocolate and Almond Danish',
 'Orange Savarin with Cinnamon Cream',
 'Orange Vanilla and Fig Madeira Cake',
 'Orange and Cardamom Rye Bread Knots',
 'Orange and Cranberry Teacakes',
 'Orange and Ginger Steamed School Pudding',
 'Orange and Ginger Trifle',
 'Orange and Green Cardamom Madeira Cake',
 'Orange and Lemon Curd Pots',
 'Orange, Cranberry & White Chocolate Fudge Bars',
 'Orange, Nutmeg and Saffron Buns',
 'Orange, Rhubarb & Ginger Crumble Cake',
 'Orange, Rosemary and Almond Biscotti',
 'Oxford Nutty Fruit Loaf',
 'Pancetta and Cheese Focaccia Tear & Share',
 'Pandan Chiffon Cake with Palm Sugar Cream',
 'Paneer Singara and Misti Singara',
 'Parmesan Triangles',
 'Parmesan and Apple Biscuits',
 'Parsnip, Pear, and Pecan Upside Down Cake',
 'Passion Fruit and Chocolate Tart',
 'Passion Fruit and Coconut Cake',
 'Pea Purée TartsCrab and Wasabi ProfiterolesSteamed Buns with Barbecue Chicken',
 'Peach & Lemon Thyme and Smoked Almond & Butterscotch Cream Horns',
 'Peach Pie In the Sky',
 'Peach and Blueberry Boy Bait',
 'Peach, Almond and Ginger Trifle',
 'Peak District Christmas Chelsea Buns',
 'Peanut Butter Chocolate Fondants',
 'Peanut Salted Caramel and Chocolate Tart',
 'Peanut Shortbread withSalted Peanut Caramel',
 'Pear Pain au ChocolatPain Au Lait',
 'Pear and Almond Tarte Tatin',
 'Pear and Pecan Upside Down Cake',
 'Pear and Raspberry Frangipane Tart',
 'Pear and Walnut Pudding',
 'Pear, Chocolate and Hazelnut Upside Down Cake',
 'Pear, Muscat & Chocolate Upside Down Cake',
 'Pears in Puddings',
 'Pecan Salted Caramel Millionaire Shortbreads',
 'Pecan and Apple Cake',
 'Pecan and Maple Syrup Pinwheels and Apple, Sultana and Cinnamon Swirls',
 'Pecan and Rosemary Caramel Apple Pie',
 'Pecan, Chocolate and Sour Cherry Yeast Cake',
 'Perfect Sunday Roast Accompaniment',
 'Pesto Quiche',
 'Pesto and Sundried Tomato Palmiers and Goats Cheese, Olive and Parma Ham Palmiers',
 'Pick Your Own Madeleines',
 'Picnic Basket Pie',
 'Picnic Loaf',
 'Pina Colada Roulade',
 'Pineapple & Passion Fruit Upside Down Cake',
 'Pineapple Cake',
 'Pineapple Upside Down Cake',
 'Pineapple and Coconut Sandwich Cake',
 'Pistachio Puddings with Chocolate Sauce',
 'Pistachio and Cardamom Tangzhong Chelsea Buns',
 'Pistachio and Rose Madeira Cake',
 'Pistachio and Strawberry Swiss Roll',
 'Pistachio, Almond & Raisin Nougat Biscuit Bars',
 'Pistachio, Apple and Cardamom Madeleine Cake',
 'Pistachio, Apricot and Honey Custard Tart',
 'Pistachio, Cardamom and Lemon Drizzle Cake',
 'Pistachio, Cranberry and White Chocolate Biscotti',
 'Piña Colada Frangipane Tart',

In [291]:
#challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]
challenges_data_to_drop =challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]

In [292]:
challenges_df = challenges[~challenges.isin(challenges_data_to_drop)]

Data exists for contestants that are no longer present. Can be viewed by the NAs in the result category an

In [293]:
challenges_index_to_drop = challenges_df[(challenges_df.technical.isna()) & (challenges_df.result.isna())]

In [294]:
challenges_df.drop(challenges_index_to_drop.index,inplace=True)

Terry will be removed (index 922,461). Due to an illnesses, they weren't present in the episodes

In [295]:
#challenges_df.drop([922.461],inplace=True)

See if any season has 2 bakers with the same first name. If not then we can use the first name to merge on.

In [296]:
count_unique = challenges_df.groupby(['series','baker']).agg(
    uniquebakers =pd.NamedAgg(column = 'baker',aggfunc = 'nunique'))

In [297]:
count_unique[count_unique.uniquebakers > 1]

Empty DataFrame
Columns: [uniquebakers]
Index: []

In [298]:
count_unique = bakers_df_final.groupby(['series','baker_first'],observed = True).agg(
    uniquebakers =pd.NamedAgg(column = 'baker_first',aggfunc = 'nunique'))

In [299]:
count_unique[count_unique.uniquebakers > 1]

Empty DataFrame
Columns: [uniquebakers]
Index: []

figure out how to deal with these reamaining NAs

In [300]:
challenges_df[challenges_df.technical.isna()]

,series,episode,baker,result,signature,technical,showstopper
9,1.0,1.0,Mark,OUT,Sticky Marmalade Tea Loaf,NaN,Heart-shaped Chocolate and Beetroot Cake with ...
50,1.0,6.0,Miranda,Runner-up,Lemon Cupcake,NaN,NaN
51,1.0,6.0,Ruth,Runner-up,"Mint, Ginger and Blackberry Cake",NaN,Red Pepper and Cheese Quiche TartsSultana Scon...
52,1.0,6.0,Edd,WINNER,Cinnamon and Banana Cake,NaN,Chocolate and Ginger TartsLemon Scones with Pa...
461,5.0,5.0,Diana,WD,NaN,NaN,NaN
922,9.0,4.0,Terry,[a],NaN,NaN,NaN

For each baker, create lists of signatures, technical scores, and showstoppers

In [301]:
challenges_df_final = pd.DataFrame(challenges_df.groupby(['series','baker']).agg({'signature':list, 'technical':list, 'showstopper':list}))

In [302]:
challenges.loc[challenges.series==2]

,series,episode,baker,result,signature,technical,showstopper
60,2,1,Ben,IN,Rhubarb and Custard Cupcakes After Dinner Cupc...,2.0,Vanilla Sponge with White Chocolate and Raspbe...
61,2,1,Ian,IN,Apple and Cinnamon Cupcakes,10.0,NaN
62,2,1,Janet,IN,Raspberry and Cream Cupcakes,8.0,Chocolate Marble Cakewith Dark and White Choco...
63,2,1,Jason,IN,Lemon Meringue CupcakesApple and Cinnamon Cupc...,6.0,NaN
64,2,1,Joanne,IN,Chocolate Orange CupcakesOrange and Cardamom C...,11.0,Chocolate and Strawberry Cake
...,...,...,...,...,...,...,...
151,2,8,Keith,NaN,NaN,NaN,NaN
152,2,8,Robert,NaN,NaN,NaN,NaN
153,2,8,Simon,NaN,NaN,NaN,NaN
154,2,8,Urvashi,NaN,NaN,NaN,NaN
155,2,8,Yasmin,NaN,NaN,NaN,NaN

# Combine Bakers and Challengers

In [303]:
bakers_challenges_df = bakers_df_final.merge(challenges_df_final, how = 'left', left_on = ['series','baker_first'], right_on = ['series','baker'])

In [304]:
bakers_challenges_df

,series,baker_first,baker_last,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation,signature,technical,showstopper
0,1,Annetha,Mills,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife,[Light Jamaican Black Cakewith Strawberries an...,"[2.0, 7.0]","[Red, White & Blue Chocolate Cake with Cigarel..."
1,1,David,Chambers,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur,"[Chocolate Orange Cake, Cheddar Cheese and Fre...","[3.0, 8.0, 4.0, 5.0]",[Black Forest Floor Gateaux with Moulded Choco...
2,1,Edward,Kimber,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank,NaN,NaN,NaN
3,1,Jasminder,Randhawa,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager,"[Millionaires' Shortbread, Focaccia, Sticky To...","[2.0, 5.0, 2.0, 4.0]",[Meringues with Chocolate and Space DustCoffee...
4,1,Jonathan,Shepherd,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst,"[Carrot Cake with Lime and Cream Cheese Icing,...","[9.0, 1.0, 6.0]",[Three Tiered White and Dark Chocolate with Al...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,10,Michelle,Evans-Fecci,0,0,5,5.0,8.0,0,5,50.000000,0.000000,35,Print shop administrator,[Bara Brith Teulu Ni (Our Family's Bara Brith)...,"[6.0, 8.0, 5.0, 5.0, 7.0]","[Tŷ Tylwyth Teg (Fairy House Cake), Dewi y Ddr..."
116,10,Phil,Thorne,0,1,3,3.0,10.0,0,4,40.000000,25.000000,56,HGV driver,"[Spiced Fruit Cake with Rum Glaze, Orange, Cra...","[8.0, 3.0, 10.0, 6.0]","[Retro Rocket Cake, Tina the Tortoise, Winner'..."
117,10,Priya,O'Shea,0,1,5,2.0,10.0,0,6,60.000000,16.666667,34,Marketing consultant,"[Sunshine Fruit Cake, Ruby Barfi Biscuit Bars,...","[7.0, 7.0, 4.0, 10.0, 2.0, 7.0]","[Once Upon a Time Cake, The Beast of Rocky Mou..."
118,10,Rosie,Brandreth-Poynter,2,4,5,1.0,9.0,0,9,90.000000,44.444444,28,Veterinary surgeon,"[Spicy Chai Loaf, Virgin Mojito Biscuit Bars, ...","[2.0, 5.0, 9.0, 4.0, 5.0, 5.0, 1.0, 2.0, 1.0]","[Magical Jungle Cake, My Favourite Chicken – A..."
119,10,Steph,Blackwell,1,6,4,1.0,10.0,0,10,100.000000,60.000000,28,Shop assistant,"[Great Grandma's Fruit Cake, Chocolate, Carame...","[3.0, 10.0, 3.0, 1.0, 4.0, 3.0, 4.0, 4.0, 3.0,...","[A Sundae on the Beach Cake, Ginger the Cat, H..."

In [305]:
bakers_challenges_df.to_csv('../data/final_df.csv', index=True)

# EVERYTHING BELOW DOESNT WORK AND WILL BE REVIEWED WITH MENTOR

In [288]:
test_funct = challenges_df
test_funct

,series,episode,baker,result,signature,technical,showstopper
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell..."
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...
...,...,...,...,...,...,...,...
1112,10.0,9.0,Rosie,OUT,"Lemon, Raspberry & Mint Domed Tarts",1.0,Time with Family
1113,10.0,9.0,Alice,STAR BAKER,"Mocha, Hazelnut & Orange Domed Tarts",4.0,Save Our Oceans
1123,10.0,10.0,Alice,Runner-up,"Chocolate, Pear, Ginger and Maple Cake",2.0,End of the School Year Celebration Picnic
1124,10.0,10.0,Steph,Runner-up,Black Forest Chocolate Cake,3.0,Picnic in the Park
1125,10.0,10.0,David,WINNER,"Chocolate, Armagnac and Prune Cake",1.0,Peachy Pic-Nik

In [289]:
test_funct['final_score'] =''

In [290]:
test_funct

,series,episode,baker,result,signature,technical,showstopper,final_score
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell...",
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...,
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN,
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...,
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...,
...,...,...,...,...,...,...,...,...
1112,10.0,9.0,Rosie,OUT,"Lemon, Raspberry & Mint Domed Tarts",1.0,Time with Family,
1113,10.0,9.0,Alice,STAR BAKER,"Mocha, Hazelnut & Orange Domed Tarts",4.0,Save Our Oceans,
1123,10.0,10.0,Alice,Runner-up,"Chocolate, Pear, Ginger and Maple Cake",2.0,End of the School Year Celebration Picnic,
1124,10.0,10.0,Steph,Runner-up,Black Forest Chocolate Cake,3.0,Picnic in the Park,
1125,10.0,10.0,David,WINNER,"Chocolate, Armagnac and Prune Cake",1.0,Peachy Pic-Nik,

In [252]:
def placement(row):
    #a Pd.Series that contains the number of bakers per season
    baker_count = test_funct.groupby('series')['baker'].nunique()
       
    if row.result == 'OUT':
        bakers_remaining = int(baker_count[row.series])
        return  bakers_remaining

test_funct['final_score'] = test_funct.apply(placement,axis =1)


test_funct[test_funct.series==1]

,series,episode,baker,result,signature,technical,showstopper,final_score
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell...",NaN
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...,NaN
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...,NaN
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...,NaN
8,1.0,1.0,Lea,OUT,Cranberry and Pistachio Cakewith Orange Flower...,10.0,Raspberries and Cream filled Chocolatewith Cho...,10.0
9,1.0,1.0,Mark,OUT,Sticky Marmalade Tea Loaf,NaN,Heart-shaped Chocolate and Beetroot Cake with ...,10.0
10,1.0,2.0,David,IN,Cheddar Cheese and Fresh Rosemary Biscuits,8.0,Choux Pastry Swans Chocolate Profiteroles,NaN
11,1.0,2.0,Edd,IN,Oatmeal Raisin Cookie,6.0,Pink Macarons,NaN
12,1.0,2.0,Jasminder,IN,Millionaires' Shortbread,2.0,Meringues with Chocolate and Space DustCoffee ...,NaN
13,1.0,2.0,Jonathan,IN,Honey and Candied Ginger Cookies,1.0,Meringues with Whiskey Cream,NaN
14,1.0,2.0,Miranda,IN,Fresh Vanilla Biscuits with Royal Icing,3.0,Pistachio Macarons,NaN
15,1.0,2.0,Ruth,IN,Peanut Shortbread withSalted Peanut Caramel,5.0,Almond Macaron with Violet ButtercreamRaspberr...,NaN
16,1.0,2.0,Annetha,OUT,Rose Petal Shortbread,7.0,Pink Swirl Macarons / Eclairs,10.0
17,1.0,2.0,Louise,OUT,Stained Glass Window Shortbread,4.0,"Strawberry, Mint, and Cream Meringues Chocola...",10.0
20,1.0,3.0,David,IN,Chilli Bread,4.0,Walnut and Seed RollRed Berry and Almond Bun,NaN
21,1.0,3.0,Edd,IN,Olive Bread,1.0,Tomato and Mozzarella,NaN
22,1.0,3.0,Jasminder,IN,Focaccia,5.0,Mango and Sultana BunsPan au Chocolat with Mar...,NaN
23,1.0,3.0,Miranda,IN,Walnut and Apricot Bread,3.0,Lemon Iced BunsChocolate and Orange Buns,NaN
24,1.0,3.0,Ruth,IN,Maple and Pecan Bread,2.0,Chocolate and Orange PanettoneCranberry Bagels,NaN
25,1.0,3.0,Jonathan,OUT,"Anchovy, Sweet Paprika and Oregano Bread",6.0,Sticky Lemon Honey Bun Olive and Anchovy RollS...,10.0
30,1.0,4.0,Edd,IN,Apple and Plum Pudding,3.0,"Apple and Cinnamon Crumble, Nutella Banana Bri...",NaN
31,1.0,4.0,Jasminder,IN,Sticky Toffee Pudding with Tropical Fruit & To...,2.0,"Bread & Butter Pudding, Treacle Suet Pudding w...",NaN
32,1.0,4.0,Miranda,IN,Sticky Toffee Pudding,1.0,"Queen of Puddings, Chocolate Pear Roly Poly, S...",NaN
33,1.0,4.0,Ruth,IN,Peach and Blueberry Boy Bait,4.0,"Apple & Ginger Crumble, Rhubarb Suet Crust, Ch...",NaN
34,1.0,4.0,David,OUT,Pear and Walnut Pudding,5.0,"Apple and Blackberry Crumble, Rhubarb and Oran...",10.0
40,1.0,5.0,Edd,IN,"Chicken, Ham, Leek and Tarragon Pie",2.0,Almond Sweet Pastry with Ginger and Chocolate ...,NaN
41,1.0,5.0,Miranda,IN,"Summery Salmon, Cod and Prawn Fish Pie",1.0,Chocolate Pastry filled with Orange Cheesecake...,NaN
42,1.0,5.0,Ruth,IN,Minced Beef Pie,3.0,Raspberry and Dark Chocolate Tart Creme Patis...,NaN
43,1.0,5.0,Jasminder,OUT,Chicken and Mushroom Pie,4.0,"Jaggery, Carrot, and Spiced Condensed Milk Tar...",10.0
50,1.0,6.0,Miranda,Runner-up,Lemon Cupcake,NaN,NaN,NaN
51,1.0,6.0,Ruth,Runner-up,"Mint, Ginger and Blackberry Cake",NaN,Red Pepper and Cheese Quiche TartsSultana Scon...,NaN
52,1.0,6.0,Edd,WINNER,Cinnamon and Banana Cake,NaN,Chocolate and Ginger TartsLemon Scones with Pa...,NaN

In [ ]:
test_funct

In [224]:
test_funct.drop(columns='final_score', inplace = True)

For each series
    for each episode
        if result ='Out'
            count the number of bakers
            give a score next to their name which is equal to total count per season
            subtract the count of number of bakers by the total count

In [ ]:
test_funct = challenges_df

In [ ]:
def baker_placement(row):
    if row['result'] == 'OUT':
        return (bakers_remaining)

In [ ]:
#count the number of bakers per season
baker_count = test_funct.groupby('series')['baker'].nunique()

#for each series
for s in test_funct.series.unique():  
    #create a interable that counts the number of bakers that have been eliminated. Start at 0
    bakers_out = 0
    bakers_remaining = baker_count[int(s)]
    
    #for each episode
    for e in test_funct.episode.unique():
        
        test_funct['final_score'] = test_funct.apply(lambda row: baker_placement(row),axis = 1)
        bakers_out += 1
        bakers_remaining -= bakers_out
test_funct

In [ ]:
test_funct.drop(columns='final_score',inplace = True)

In [ ]:
def final_score(df):
#count the number of bakers per season
    baker_count = df.groupby('series')['baker'].nunique()
    #for each season
    for s in df.series:  
        #create a interable that counts the number of bakers that have been eliminated. Start at 0
        bakers_out = 0
        bakers_remaining = baker_count[int(s)]
        #for each season
        for e in df.episode:
            #does result say OUT for each contestant?
            if df[(df.series ==s) & (df.episode ==e)].result.items == 'OUT':

                #if so, then we'll add +1 to our bakers_out iterator. 
                bakers_out +=1
                
                #set the final score category to our baker_count iterator
                df['final_score'] = bakers_remaining
                
                #subtract the number of bakers left by the amount we just lost
                bakers_remaining -= bakers_out
            else:
                next
    return df

In [ ]:
def finalplace(df):
    countbakers = df[['series','baker']].copy()
    countbakers['total_per_season'] = df.sort_values(['series'],ascending = False).groupby('series')['baker'].nunique()
    
    return countbakers